{% if not S_IS_BOT and COUNTDOWNHEADER_ENABLE %}
{% if (COUNTDOWNHEADER_TESTMODE and U_ACP) or not COUNTDOWNHEADER_TESTMODE %}
{% if S_DISPLAY_SEARCH and not S_IN_SEARCH %}
<li id="search-box" class="search-box rightside responsive-hide" role="search">
	<form action="{{ U_SEARCH }}" method="get" id="search">
		<fieldset>
			<input name="keywords" id="keywords" type="search" maxlength="128" title="{{ lang('SEARCH_KEYWORDS') }}" class="inputbox search tiny" size="20" value="{{ SEARCH_WORDS }}" placeholder="{{ lang('SEARCH_MINI') }}" />
			<button class="button {% if not PHPBB_IS_32 %}icon-button search-icon{% else %}button-search{% endif %}" type="submit" title="{{ lang('SEARCH') }}">
				{% if PHPBB_IS_32 %}<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH') }}</span>{% else %}{{ lang('SEARCH') }}{% endif %}
			</button>
			<a href="{{ U_SEARCH }}" class="button {% if not PHPBB_IS_32 %}icon-button search-adv-icon{% else %}button-search-end{% endif %}" title="{{ lang('SEARCH_ADV') }}">
				{% if PHPBB_IS_32 %}<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH_ADV') }}</span>{% else %}{{ lang('SEARCH_ADV') }}{% endif %}
			</a>
			{{ S_SEARCH_HIDDEN_FIELDS }}
		</fieldset>
	</form>
</li>
{% endif %}
{% endif %}
{% endif %}