<!-- IF COUNTDOWNHEADER_ENABLE -->
<!-- INCLUDEJS jquery.jcountdownheader.min.js -->
<script type="text/javascript">
	$(function() {
		var $timerBox = $('#countdown-timer');
		$timerBox.html('<span class="timer-big"></span><span class="timer-small"></span>');
		var $timerBig = $timerBox.find('.timer-big');
		var $timerSmall = $timerBox.find('.timer-small');
		var number = '';
		var unit = '';

		var utc = new Date('{COUNTDOWNHEADER_DATE}').getTime();

		$timerBox.countdown(utc).on('update.countdown', function(event) {
			if (event.offset.totalDays > 0) {
				number = event.strftime('%D');
				unit = '{LA_COUNTDOWNHEADER_COUNT_DAYS}';
			} else if (event.offset.hours > 0) {
				number = event.strftime('%H');
				unit = '{LA_COUNTDOWNHEADER_COUNT_HOURS}';
			} else if (event.offset.minutes > 0) {
				number = event.strftime('%M');
				unit = '{LA_COUNTDOWNHEADER_COUNT_MINUTES}';
			} else if (event.offset.seconds > 0) {
				number = event.strftime('%S');
				unit = '{LA_COUNTDOWNHEADER_COUNT_SECONDS}';
			}
			$timerBig.html(number);
			$timerSmall.html(unit);
		}).on('finish.countdown', function() {
			$timerBig.html('{COUNTDOWNHEADER_TEXT_BIG}');
			$timerSmall.html('{COUNTDOWNHEADER_TEXT_SMALL}');
			$timerBox.attr('href', '{COUNTDOWNHEADER_URL}');
		});

		$timerBox.show();
	});
</script>
<!-- ENDIF -->