.countdown-block {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: normal;
	background: #fff none;
	border: 3px solid #fff;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, .6);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, .6);
	color: rgba(0, 0, 0, .5);
	text-shadow: none;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 6px 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
}

.countdown-block:hover {
	text-decoration: none;
}

.countdown-block:after {
	display: block;
	background: none;
	position: absolute;
	height: 100%;
	width: 100%;
	content: '';
	top: 0;
	left: 0;
}

.countdown-block .timer-big {
	font-size: 2.25rem;
	font-weight: 500;
	line-height: 1;
	display: block;
}

.countdown-block .timer-small {
	font-size: 11px;
	display: block;
	text-align: center;
}

.headerbar #search-box {
     display: none !important;
}

.navbar #search-box{
     box-shadow:none;
}